@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

.page {
  background-color: #222831;
  font-family: "Orbitron", sans-serif;
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}

.clock {
  max-width: 720px;
  width: 100%;
  margin: 150px auto;
  border-radius: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__figure {
  color: #00adb5;
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 0 5px #c7f5fe, 0 0 10px #c7f5fe, 0 0 15px #a9eee6,
    0 0 20px #00adb5, 0 0 30px #00adb5, 0 0 40px #00adb5, 0 0 50px #00adb5;
}

.inside {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside__spinner {
  background-color: #00adb5;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 0 2px #c7f5fe, 0 0 4px #a9eee6,
    0 0 6px #00adb5, 0 0 8px #00adb5, 0 0 10px #00adb5;
}

.inside__spinner_top {
  top: 0;
  left: 0;
  animation: changePos 10s linear alternate infinite;
}

.inside__spinner_bottom {
  bottom: 0;
  right: 0;
  animation: changePosRev 10s linear alternate infinite;
}

@keyframes changePos {
  from {
    transform: translateX(0px) translateY(0px);
  }
  to {
    transform: translateX(648px) translateY(0px);
  }
}

@keyframes changePosRev {
  from {
    transform: translateX(0px) translateY(0px);
  }
  to {
    transform: translateX(-648px) translateY(0px);
  }
}

@media screen and (max-width: 680px) {
  .clock__figure {
    font-size: 90px;
  }
}

@media screen and (max-width: 650px) {
  .inside__spinner {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .clock__figure {
    font-size: 58px;
  }
}

@media screen and (max-width: 500px) {
  .clock {
    max-width: 300px;
  }
}
