@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Orbitron-Bold.woff) format("woff"),
    url(./Orbitron-Bold.woff2) format("woff2");
}
